<section id="about" data-scrolloffset="50" class="rex-about">
    <div class="container">
        <div class="row">
            
                       
            <div class="col-md-6 rex-about-text">
                <div class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.9s">
                    {{
                        widget('content', 'introduction-text1', {
                            content: '<h3 class="rex-sub-title">welkom bij Tattoo Xtreme.</h3>
                            <p>                           
                                Leuk dat je mijn website bezoekt. Je kan de foto\'s bekijken van de tattoo\'s die ik heb gezet.  
                            </p>
                            <p>
                                Als je met mij contact op wil nemen en/ of wil weten wat jou tattoo gaat kosten 
                                dan kan je dat doen via onderstaand telefoon nr: 
                            </p>
                            <p>
                                Tel: <strong>06 25201730</strong> of via whatsapp
                            </p>
                                <br>
                            <p>
                                <strong>Let op! Wij werken alleen op afspraak!</strong>
                            </p>
                                <br>
                            <p>
                                Je kan ook via Facebook je vraag stellen. (Zie facebook logo bovenaan de site.)
                            </p>
                            <p>                           
                            <strong>Piercing info:</strong> Alle piercings kosten bij ons 35 euro incl. titanium sieraad naar keuze!
                            </p>
                            <p>                           
                                <strong>Tattoo info:</strong> Wij tattooeren verschillende stylen , tegen scherpen prijzen!
                            </p>
                                <br>
                            <p> 
                                Klik <strong><a href="http://www.veiligtatoeerenenpiercen.nl/Vind_hier_je_studio?naam=tattooline&postcode=&plaats=Spijkenisse&werkzaamheden=&Button=zoek" TARGET="_blank">HIER!</a></strong> om mijn GDD-Vergunning te zien.
                                (Er staat vermeld Tattooline)                       
                            </p>',
                        })|raw
                    }}
                    
                    {# <a class="btn rex-bottom" href="#" role="button">about us</a> #}
                </div>
            </div>
            <div class="col-md-6 rex-about-img">
                <div class="img-responsive wow fadeInUp">
                    <div id="polaroid">
                        <figure>
                            <img src="{{ asset('/assets/src/images/introduction-picture1.jpg') }}"
                                 width="300"
                                 height="300"
                                 alt=""
                            />
                            <figcaption>Dit kan ook jouw arm zijn!</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
