<div class="remodal" data-remodal-id="piercing-care">
    <button data-remodal-action="close" class="remodal-close"></button>
    
    <section class="piercing-care">
        <div class="padding-top-bottom-level-3">
        <h3>Verzorging Piercings</h3> 
        <p>
            In het begin, na het zetten van de piercing, produceert je lichaam 
            een weefseltunnel rond de piercing en het sieraad.
            Dit betekent dat je piercing nu eigenlijk nog een 
            open wond is en daardoor erg gevoelig voor infecties.
            Ieder mens is uniek en daardoor is het moeilijk te voorspellen 
            hoe lang de genezing duurt. Hieronder enkele richttijden.
            Hierna kan je de piercing nog niet uit je lichaam halen. 
            Je krijgt dan de verstevigingperiode. Je lichaam zorgt ervoor 
            dat er weefsellaag op weefsellaag wordt gevormd rond de tunnel, 
            om je piercing permanent te maken. Dit kan 1 tot 3 maanden duren en 
            als je in deze periode het sieraad voor langere periode uitdoet, 
            kan het gaatje dicht groeien. Het is heel belangrijk je piercing goed te verzorgen, 
            om ontstekingen en infecties te voorkomen. Bij ons krijg je een nazorgformulier, 
            waarin beschreven staat hoe je je piercing moet verzorgen.
        </p>
        <br>
        
        <div class ="genees-tijden">
            <p>
                Genees tijden:
                <dl>
                    <dt>Oren</dt>
                    <dd>6-9 weken</dd>
                    <dt>Neus</dt>
                    <dd>7-9 weken</dd>
                    <dt>Lip</dt>
                    <dd>4-6 weken</dd>
                    <dt>Kraakbeen (in je oor)</dt>
                    <dd>6-9 maanden</dd>
                    <dt>Tepel(s)</dt>
                    <dd>3-5 maanden</dd>
                    <dt>Navel</dt>
                    <dd>6-9 weken</dd>
                    <dt>Schaamlippen</dt>
                    <dd>4-6 weken</dd>
                    <dt>Wenkbrauw</dt>
                    <dd>4-6 weken</dd>
                    <dt>Voorhuid van de penis</dt>
                    <dd>4-5 weken</dd>
                    <dt>Tong</dt>
                    <dd>3-4 weken</dd>
                </dl>
            </p>
        </div>
        <br>
        
        <div class="tips">
            <p>
                Tips:
                <ul>
                    <li>Raak de piercing tijdens de genezingsperiode zo min mogelijk aan. 
                        Moet je er toch aanzitten, was dan eerst je handen met antibacteriële zeep.
                    </li>
                    <li>
                        Gebruik om je piercing schoon te maken geen washand of spons. 
                        Dit zijn verzamelplaatsen van bacteriën en schimmels.
                    </li>
                    <li>
                        Dep de piercing droog met een schone, droge handdoek, tissue of wattenstaafjes.
                    </li>
                    <li>
                        Zorg ervoor dat je je piercing twee keer per dag rond dezelfde tijd 
                        reinigt totdat de piercing geheeld is. Als er geen korstjes meer 
                        gevormd worden en je een beetje door de piercingtunnel heen kunt kijken, 
                        hoef je maar één keer per dag te reinigen.
                    </li>
                    <li>
                        Teveel schoonmaken kan de piercing irriteren. Laat het dus maar 
                        bij twee keer per dag, tenzij er veel zweet of vuil in je piercing is gekomen.
                    </li>
                    <li>
                        Het wordt afgeraden om pleisters of verband over de piercing te dragen, 
                        tenzij je gaat sporten of vuil werk moet doen.
                    </li>
                    <li>
                        Probeer de piercing droog te houden (geen zweet, vet etc.).
                    </li>
                </ul>
            </p>
        </div>
        <br>
        
        <h3>Extra tips bij navel- en/of tepelpiercings</h3>
        <p>
            Het is verstandig om na het zetten van een navelpiercing geen strakke, 
            hoogzittende broeken te dragen. Dit kan er namelijk voor zorgen dat de 
            piercing gaat schuren, bewegen, regelmatig blijft hangen of tegen de rand 
            van je broek stoot. Dit is niet alleen pijnlijk, 
            maar is ook niet goed voor het helingsproces. 
            Vermijd direct contact met wol of pluizige kleding. Draadjes die in 
            de piercing terecht komen, zorgen voor irritaties en een ontsteking 
            kan het gevolg zijn. Het beste is daarom om bij een navel- of 
            tepelpiercing een katoenen hemd of t-shirt te dragen.
        </p>
        <p>
            Douchen met een piercing is heel goed, hierdoor blijft de piercing schoon. 
            Ga niet in bad zitten weken. Dit kan wel, maar gebruik dan 
            een waterdichte pleister. Gebruik deze ook als je je haar met een 
            agressieve shampoo gaat wassen. De piercing 
            moet je zien als een wond en ook zo behandelen. 
        </p>
        <br />
        
        <h3>Extra tips tongpiercings</h3>
        <p>
            Een tongpiercing moet in de eerste weken na elke maaltijd 
            (dit geldt ook na elke sigaret) gespoeld worden met Listerine. 
            Je kunt dit bij de drogist of supermarkt kopen 
            (Listerine is best scherp, dus als je een branderig gevoel hebt, 
            komt het door de Listerine). Het verkleuren van de tong door 
            het spoelmiddel kan je tegengaan door ook je tong te poetsen. 
            Na 4 weken hoef je alleen 's avonds na het tandenpoetsen, 
            voor het slapen gaan je mond te spoelen met Listerine. 
            Haal de piercing er regelmatig uit voor een schoonmaakbeurt. 
            Let wel op dat als de piercing niet snel wordt terug gezet, 
            het gaatje dicht kan gaan, omdat de tong vrij snel geneest
        </p>
        <br />
        <p>
            Ook is het van belang dat, als je net een tongpiercing hebt, 
            je oraal contact vermijdt. Dus met tongzoenen en orale seks nog even wachten!
        </p>
        <br />
        <p>
            Voor meer informatie: <a href="http://mens-en-gezondheid.infonu.nl/beauty/73096-het-verzorgen-van-een-piercing.html" TARGET="_blank">klik hier!</a>
        </p>
        </div>
    </section>
</div>