<div class="remodal" data-remodal-id="piercings">
    <button data-remodal-action="close" class="remodal-close"></button>
    
    <section class="tattoos">
        <div class="padding-top-bottom-level-3">
            
            <div class="row">
                <div class="col-md-8">
                    <h3>Piercings</h3> 
                    <p>
                       Een piercing is niet zo permanent als een tatooage, 
                       maar kan wel degelijk een litteken achterlaten.
                    </p>
                    <p>
                       Daarom is het belangrijk dat je er 
                       goed over nadenkt of je een piercing wil nemen. 
                    </p>
                    <p>   
                       Als je het écht wil is het goed om
                       vantevoren te weten waar je op moet letten.
                    </p>
                    <p> 
                       Niet iedereen kan goed piercen en als het niet 
                       goed gebeurt zijn er risico's voor je gezondheid.
                       <br>
                    </p>
                    <p>
                       <ul>
                           <li>Zorg dat je goed uitgerust bent en goed hebt gegeten.</li>
                           <li>Breng de tatoeëerder/piercer op de hoogte van belangrijke zaken</li>
                           <li>Je mag niet onder invloed zijn van alcohol en/of drugs.</li>
                       </ul>
                    </p>
                </div>
                
                <div class="col-md-4">
                    {{
                        widget('image', 'piercings-image1', {
                            src: asset('/assets/src/images/piercing1.jpg'),
                            alt: '',
                            fileSize: 3,
                            imageWidth: '100%',
                        })|raw
                    }}
        </div>
    </section>
</div>