<div class="remodal" data-remodal-id="tattoo-gallery"> 
    <button data-remodal-action="close" class="remodal-close"></button>
    
    <div class="padding-top-bottom-level-3">
        {{
            widget('gallery', 'tattoogallery', {
                showTitle: true,
                showDescription: true,
                images: [
                    {
                        url: 'http://placehold.it/300x300',
                    },
                    {
                        url: 'http://placehold.it/300x300',
                    },
                    {
                        url: 'http://placehold.it/300x300',
                    },
                    {
                        url: 'http://placehold.it/300x300',
                    },
                    {
                        url: 'http://placehold.it/300x300',
                    },
                    {
                        url: 'http://placehold.it/300x300',
                    },
                    {
                        url: 'http://placehold.it/300x300',
                    },
                    {
                        url: 'http://placehold.it/300x300',
                    }
                ]
            })|raw
        }}
    </div>
</div>
