<div class="remodal" data-remodal-id="tattoo-care">
    <button data-remodal-action="close" class="remodal-close"></button>
    
    <section class="tattoo-care">
        <div class="padding-top-bottom-level-3">
            <h3>Van harte gefeliciteerd met je tattoeage!</h3>
            <p>
                Het "ergste" zit erop, nu is het aan jou. Je zal 
                je nu bezig moeten houden met de juiste verzorging van je tattoo.
                De verantwoording van de verzorging ligt bij jou.
            </p>
            <p>
                Een goede verzorging is essentieel, zelfs de allermooiste 
                tatoeage, kan zich ontwikkelen tot een grote 
                ramp als je niet de juiste maatregelen treft na het zetten van de tattoo. 
            </p>
            <br />
            <p>
                De tatoeërder zal jou tattoo afdekken met folie, dit is om te voorkomen dat 
                er zich bacteriën in de wond kunnen vestigen. 
            </p>
            <p> Ondanks het feit dat je tatoeage 
                een tatoeage is , is het ook een wond. Een wond is open vlees, 
                en dus een vestigingsplaats voor bacteriën met daardoor kans op een infectie.
            </p>
            <p> 
                Het is belangrijk dat je de folie er minimaal 2 uur om laat zitten!
                Zodra je de folie verwijdert, is het volgende wat je moet doen: het wassen van je tatoeage.
            </p>
            <p>
                Hiervoor gebruik je lauw water en vloeibare anti bacteriële zeep 
                om het gebied van de tatoeage te reinigen. Gebruik hiervoor 
                geen washandje of ander schurend materiaal.
            </p>
            <br />
            <p>
                Je kunt hiervoor gewoon voorzichtig je hand gebruiken, zorg er voor dat 
                je deze instructies goed uitvoert zodat je er zeker van bent dat je de tatoeage goed verzorgt.
            </p>
            <p>
                Dep het gebied rondom de tatoeage goed met een schone handdoek, 
                en zorg ervoor dat het compleet droog wordt, gebruik hierna een beetje zalf. 
            </p>
            <p>
                Je zal na het zetten van je tattooage hiervan een klein potje mee krijgen.
                Je kunt de behandeling met zalf na 3 tot 5 dagen stopzetten, wel moet je 
                er voor zorgen dat de tatoeage constant schoon gehouden wordt.
            </p>
            <p> 
                Je kunt vanaf nu een milde lotion gaan gebruiken in plaats van de zalf.
                Het doel hiervan is om je huid soepel te houden. 
                Verzeker je ervan dat er een lotion gebruikt wordt, 
                welke geen kleur en of geurstoffen bevat.
            </p>
            <br />
            <p>
                Je zal natuurlijk gewoon moeten douchen met je nieuwe tatoeage, 
                ondanks het feit dat het niet erg is dat je nieuwe tatoeage 
                enigszins nat wordt, dien je te voorkomen dat je 
                tatoeage letterlijk verzuipt of in contact komt met zeep.  
                Zwemmen dien je te voorkomen, zowel in zout als in zoet water. 
            </p>
            <p> Na enkele dagen zul je wat lichte velletjes en korstjes zien. 
                Door de juiste verzorging voor je nieuwe tatoeage, 
                betekend dat je er minder last van zult hebben.
                Als je tatoeage begint te helen, Voorkom dat je aan de plek gaat krabben.
            </p>
            <p> 
                Je tattoo is genezen, je kan nu echt vol van je tattoo genieten.
                Al snel zal je na gaan denken over jou volgende tatoeage. 
            </p>
        </div>
    </section>
</div>