<div class="remodal" data-remodal-id="tattoos">
    <button data-remodal-action="close" class="remodal-close"></button>
    
    <section class="tattoos">
        <div class="padding-top-bottom-level-3">
            <h3>Tattoos</h3> 
            <p>
                Hoe kom je tot de keuze van jouw tatoeage?
                Je ziet ze steeds vaker. Je beste vriend/in heeft er ook één en nu wilt jij er één.
            </p>
            <p>
                Een tattoo is één van de hotste en meest modieuze zaken op dit ogenblik.
                Deze vorm van lichaamskunst is niet enkel voor decoratie, maar het staat ook voor jouw persoonlijkheid.
            </p>
            <p>
                Tatoeages kunnen je er leuk, sexy, trendy en ruw doen uitzien.
                Veel mensen herdenken met een tatoeage speciale gebeurtenissen en geliefde personen.
            </p>
            <p> 
                Het laten zetten van een tatoeage kan een erg opwindende ervaring zijn.
                De pijnfactor hangt onder andere af van de plek waar je de tattoo laat zetten. 
            </p>
            <p>
                Nog iets om in gedachten te houden is dat iedere persoon een verschillende pijngrens heeft. 
                Wat pijnlijk is voor de één is het misschien niet voor de ander.
            </p>
            <p> 
                Laat je tatoeage niet van de ene op de andere dag zetten. 
                Denk hier rustig een tijdje over na, neem geen overhaaste beslissingen.
            </p>
            <p> 
                Zoek heel het internet af, kijk eens in de mappen bij een tattooshop.  
                Denk ook van te voren goed na over de plek waar je je tattoo wilt laten zetten. 
            </p>
            
            <br />
            
            <h5>
                Een tattoo zet je niet voor even maar voor de rest van je leven!
            </h5>
            <p>
                Heb je hier goed over nagedacht dan ben jij klaar om je eerste of 
                misschien wel de volgende tattoo te gaan laten zetten. Weet je al 
                precies wat je wilt of wil je met mij nog de mogelijkheden bespreken. 
                Neem dan contact met mij op.
            </p>
            <p>
                Je kan mij bellen voor een afspraak of je vraag per email verzenden.
            </p>
            <p> 
                Alvorens je de tatoeage laat zetten is het aan te raden van te voren 
                goed te eten en uitgerust te zijn. Met een lege maag heb je eerder 
                kans dat je slapjes of misselijk wordt. 
            </p>
            <p>
                Probeer pijnstillers zoals 
                aspirine of ibuprofen of verdovende middelen te vermijden, 
                want die kunnen een verhoogde bloeding of andere complicaties 
                veroorzaken.
            </p>
            <p>
                Laat geen tatoeage aanbrengen wanneer je onder 
                invloed van alcohol bent. 
            </p>
            <p>
                Kies niet voor een tatoeage wanneer 
                je ziek bent. Het is beter om te wachten tot je weer beter bent.
            </p>
        </div>
    </section>
</div>